{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.jumbotron {
margin-top: -20px;
}

{% endblock %}
</style>


     
{% block jumbotron %}
 {% if not request.user.is_authenticated %}
<div class="jumbotron">
 <div class="container">
		<h1>Welcome</h1>
		<p>Social Media Web App Made Using Django By Eklove Singh</p>
		</div>
		</div>
 {% endif %}
{% endblock %}




{% block content %}
 {% if request.user.is_authenticated %}
<h1>You are logged in!</h1>

     <a href="{% url 'post_list' %}" class="btn btn-success btn-block"> View Posts </a>
     <a href="{% url 'add_post' %}" class="btn btn-info btn-block"> Add Posts </a>

 {% else %}
<a href="{% url 'registration_register' %}" class="btn btn-danger btn-block"> Register </a>
{% endif %}

{% endblock %}